<div class="text-input-customer-container"
  [ngStyle]="{
      'margin-top': marginTop ? marginTop : '0px',
      'margin-bottom': marginBottom ? marginBottom : '0px'
    }"
  [ngClass]="{
    'dn': customClass ? customClass : ''
  }">
  <div class="text-input-total"
    [ngClass]="{
      'cb--vertical-config': flow === 'vertical',
      'cb--horizontal-config': flow === 'horizontal'
    }"
    >
    <div class="text-input-label"
      [ngClass]="{
        'label': isDisabledLabel,
        'cb--vertical-config': flow === 'vertical',
        'cb--horizontal-config': flow === 'horizontal',
        'cb--input-color-1': shapeType === 'default-color',
        'cb--input-color-2': shapeType === 'input-color-2'
      }"
    >
    {{label}}<span *ngIf="isRequired" class="is-required">*</span>
    </div>
    <div class="text-input-custom" 
      [ngClass]="{
        'cb--disabled': isDisabled,
        'cb--border-color': hasErrorMessage,
        'cb--input-color-1': shapeType === 'default-color',
        'cb--input-color-2': shapeType === 'input-color-2'
      }">
      <input
        id="search"
        #zipEl
        class="text-input"
        [ngClass]="{
          'cb--disabled': isDisabled,
          'cb--placeholder-card': placeholderIcon === 'card',
          'cb--input-color-1': shapeType === 'default-color',
          'cb--input-color-2': shapeType === 'input-color-2'
        }"
        [attr.type]="attributeType"
        [maxLength]="maxLength"
        [value]="value"
        (input)="changeInput($event)"
        [placeholder]="placeholderText"
        [disabled]="isDisabled"
      >
    </div>
  </div>
  <div class="text-input-error"
    [ngClass]="{
      'cb--disabled': isDisabled,
      'cb--input-color-1': shapeType === 'default-color',
      'cb--input-color-2': shapeType === 'input-color-2'
    }"
      *ngIf="hasErrorMessage && errorMessage">
   {{ errorMessage }}
  </div>
</div>
