@import "/src/scss/main";

.input-color-1 {
  background-color: $white;
  color: $placeholder-text-1-input;
}

.input-color-2 {
  background-color:#F7F7F7;
  color: $placeholder-text-1-input;
}

.cb--border-color-invalid {
  border-color: $border-color-invalid !important;
}

@mixin padding-config($left-right-size, $top-bottom-size) {
  padding: $left-right-size $top-bottom-size;
}

@mixin margin-config($left-right-size, $top-bottom-size) {
  padding: $left-right-size $top-bottom-size;
}

.text-input-customer-container {
  width: 100%;
  .text-input-total {
    &.cb--vertical-config {
      display: block;
    }
    &.cb--horizontal-config {
       display: flex;
    }
    .text-input-label {
      padding-bottom: 5px;
      margin-top: auto;
      margin-bottom: auto;
      &.cb--vertical-config {
        white-space: none;
      }
      &.cb--horizontal-config {
        white-space: pre-line;
      }
      .is-required {
        color: red;
      }
      &.label {
        display: none;
      }
      &.cb--input-color-1 {
        font-weight: $font-weight-6;
        font-family: 'Roboto';
        color: $label-primary-color-1;
      }
      &.cb--input-color-2 {
        font-weight: $font-weight-6;
        font-family: 'Roboto';
        color: $label-primary-color-1;
      }
    }
  
    .text-input-custom {
      @include  hidden-spin-button;
      &.cb--disabled {
        opacity: 0.8;
      }
      &.cb--border-color {
        @extend .cb--border-color-invalid;
      }

      .cb-tooltip-disabled {
        position: relative;
        display: flex;
        align-items: center;
      }
      
      &.cb--input-color-1 {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: $border-radius-12;
        border: 2px solid  $border-text-1-input;
        background-color: $white;
      }
      &.cb--input-color-2 {
        border-radius: $border-radius-12;
        border: 2px solid  $border-primary-default-input;
        background-color: #F7F7F7;
      }
  
      .text-input {
        &.cb--disabled {
          opacity: 0.8;
        }
        width: 100%;
        outline: none;
        border: none;
        &.cb--input-color-1 {
          font-family: 'Roboto-Bold';
          font-weight: $font-weight-3;
          @extend .input-color-1;
          @include placeholder-text;
        }
        &.cb--input-color-2 {
          font-family: 'Roboto-Bold';
          font-weight: $font-weight-3;
          @extend .input-color-2;
          @include placeholder-text;
        }
        &.cb--placeholder-card {
          @include placeholder-card-icon;
         }
        
        &.cb--placeholder-name {
          //@include placeholder-name-icon;
        }
        &.cb--placeholder-email {
          // @include placeholder-email-icon;
        }
        &.cb--placeholder-cellphone {
          // @include placeholder-cellphone-icon;
        }
        &.cb--placeholder-chat {
          // @include placeholder-chat-icon;
        }
      }

      .tooltip {
        position: absolute;
        right: -7px;
      }
    }
  }
  .text-input-error {
    width: 100%;
    color: #FF0000;
    &.cb--input-color-1 {
      font-family: 'Roboto-Bold';
    }
    &.cb--input-color-2 {
      font-family: 'Roboto-Bold';
    } 
  }
}

@media screen and (max-width: 599.99px) 
{
  .text-input-customer-container {
   .text-input-total {
    .text-input-label {
      &.cb--input-color-1 {
        font-size: 12px;
        font-weight: 900 !important;
        font-family: 'Roboto-Regular' !important;
        color: #01387b;
      }
      &.cb--input-color-2 {
        font-size: 12px;
        font-weight: 900 !important;
        font-family: 'Roboto-Regular' !important;
        color: #01387b;
      }
      &.cb--vertical-config {
          
      }
      &.cb--horizontal-config {
        width: 120px;
      }
    }
    .text-input-custom {
      &.cb--input-color-1 {
        @include padding-config(8px, 16px);
      }
      &.cb--input-color-2 {
        @include padding-config(8px, 16px);
      }
      .text-input {
        &.cb--input-color-1 {
          font-size: $text-0;
          padding-left: 10px;
        }
        &.cb--input-color-2 {
          font-size: $text-0;
          padding-left: 10px;
        }
      }
    }
   }
   .text-input-error {
      padding-left: 10px;
      &.cb--input-color-1 {
        font-size: 10px;
        text-align: left;
      }
      &.cb--input-color-2 {
        font-size: 10px;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width:  959.99px) and (min-width: 600px)
{
  .text-input-customer-container {
    .text-input-total {
      .text-input-label {
        &.cb--input-color-1 {
          font-size: $text-0;
        }
        &.cb--input-color-2 {
          font-size: $text-0;
        }
        &.cb--vertical-config {
          
        }
        &.cb--horizontal-config {
          width: 120px;
        }
      }
      .text-input-custom {
        &.cb--input-color-1 {
          @include padding-config(8px, 16px);
        }
        &.cb--input-color-2 {
          @include padding-config(8px, 16px);
        }
        .text-input {
          &.cb--input-color-1 {
            font-size: $text-0;
          }
          &.cb--input-color-2 {
            font-size: $text-0;
          }
        }
      }
    }
    .text-input-error {
      &.cb--input-color-1 {
        font-size: 12px;
        text-align: left;
      }
      &.cb--input-color-2 {
        font-size: 12px;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width:  1279.99px) and (min-width: 960px) 
{
  .text-input-customer-container {
    .text-input-total {
      .text-input-label {
        &.cb--input-color-1 {
          font-size: $text-0;
        }
        &.cb--input-color-2 {
          font-size: $text-0;
        }
        &.cb--vertical-config {
          
        }
        &.cb--horizontal-config {
          width: 120px;
        }        
      }
      .text-input-custom {
        &.cb--input-color-1 {
          @include padding-config(12px, 25px);
        }
        &.cb--input-color-2 {
          @include padding-config(12px, 25px);
        }
        .text-input {
          &.cb--input-color-1 {
            font-size: $text-0;
          }
          &.cb--input-color-2 {
            font-size: $text-0;
          }
        }
      }
    }
    .text-input-error {
      &.cb--input-color-1 {
        font-size: 12px;
        text-align: left;
      }
      &.cb--input-color-2 {
        font-size: 12px;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 1919.99px) and (min-width:  1280px)
{
  .text-input-customer-container {
    .text-input-total {
      .text-input-label {
        &.cb--vertical-config {
          
        }
        &.cb--horizontal-config {
          width: 130px;
        }
        &.cb--input-color-1 {
          font-size: 15px;
        }
        &.cb--input-color-2 {
          font-size: 15px;
        }
      }
      .text-input-custom {
        &.cb--input-color-1 {
          @include padding-config(12px, 25px);
        }
        &.cb--input-color-2 {
          @include padding-config(12px, 25px);
        }
        .text-input {
          &.cb--input-color-1 {
            font-size: $text-2;
          }
          &.cb--input-color-2 {
            font-size: $text-2;
          }
        }
      }
    }
    .text-input-error {
      &.cb--input-color-1 {
        font-size: 14px;
        text-align: left;
      }
      &.cb--input-color-2 {
        font-size: 14px;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 1920px)
{
  .text-input-customer-container {
    .text-input-total {
      .text-input-label {
        &.cb--input-color-1 {
          font-size: 15px;
        }
        &.cb--input-color-2 {
          font-size: 15px;
        }
        &.cb--vertical-config {
          
        }
        &.cb--horizontal-config {
          width: 130px;
        }
      }
      .text-input-custom {
        &.cb--input-color-1 {
          @include padding-config(12px, 25px);
        }
        &.cb--input-color-2 {
          @include padding-config(12px, 25px);
        }
        .text-input {
          &.cb--input-color-1{
            font-size: $text-2;
          }
          &.cb--input-color-2 {
            font-size: $text-2;
          }
        }
      }
    }
    .text-input-error {
      &.cb--input-color-1 {
        font-size: 14px;
        text-align: left;
      }
      &.cb--input-color-2 {
        font-size: 14px;
        text-align: left;
      }
    }
  }
}
