@font-face {
  font-family: 'Metropolis-Bold';
  src: url("../fonts/Metropolis-Bold.otf")  format("opentype");
}

@font-face {
  font-family: 'Metropolis-BoldItalic';
  src: url('../fonts/Metropolis-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis-ExtraLight';
  src: url('../fonts/Metropolis-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis-ExtraLightItalic';
  src: url('../fonts/Metropolis-ExtraLightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('opentype');
}