@mixin placeholder-name-icon {
  &::-webkit-input-placeholder {
    // background-image: url(../../assets/contacto/icono-nombre-placeholder-24-01-22.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-left: 25px;
  }
}

@mixin placeholder-card-icon {
  &::-webkit-input-placeholder  {
    // background-image: url(../../assets/svg/icon-bank.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-left: 40px;
  }
}

@mixin placeholder-doc-dni-ruc-icon {
  &::-webkit-input-placeholder {
    // background-image: url(../../assets/icons/icono-doc-19-01-22.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-left: 40px;
  }
}

@mixin placeholder-cell-icon {
  &::-webkit-input-placeholder {
    // background-image: url(../../assets/icons/celular-2-19-01-22.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-left: 40px;
  }
}

@mixin placeholder-ruc-search-icon {
  &::-webkit-input-placeholder {
    // background-image: url(../../assets/icons/icono-ruc-search.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-left: 40px;
    opacity: 0.7;
  }
  &::-webkit-input-placeholder::before {
    opacity: 0.8;
  }
}

@mixin placeholder-ruc-nombre-icon {
  &::-webkit-input-placeholder {
    // background-image: url(../../assets/icons/icono-ruc-nombre.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-left: 40px;
    opacity: 0.7;
  }
  &::-webkit-input-placeholder::before {
    opacity: 0.8;
  }
}

@mixin placeholder-ruc-direccion-icon {
  &::-webkit-input-placeholder {
    // background-image: url(../../assets/icons/icono-ruc-direccion.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-left: 40px;
    opacity: 0.7;
  }
  &::-webkit-input-placeholder::before {
    opacity: 0.8;
  }
}

@mixin placeholder-email-icon {
  &::-webkit-input-placeholder {
    // background-image: url(../../assets/icons/email-contact-us-icon.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-left: 40px;
    opacity: 0.7;
  }
  &::-webkit-input-placeholder::before {
    opacity: 0.8;
  }
}

@mixin placeholder-text {
  &::-webkit-input-placeholder {
    background-size: contain;
    background-repeat: no-repeat !important;
    opacity: 0.7;
  }

  &::-webkit-input-placeholder::before {
    opacity: 0.8;
  }
}

@mixin placeholder-cellphone-icon {
  &::-webkit-input-placeholder {
    // background-image: url(../../assets/contacto/icono-telefono-placeholder-24-01-22.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-left: 25px;
  }
}

@mixin placeholder-chat-icon {
  &::-webkit-input-placeholder {
    // background-image: url(../../assets/contacto/icono-chat-placeholder-24-01-22.svg);
    background-size: contain;
    background-repeat: no-repeat !important;
    padding-left: 25px;
  }
}